<h1>Restaurants for $cuisine.getType()</h1>
  <ul>
    #foreach ($restaurant in $restaurants)
      <li>$restaurant.getName()</li><form action="/restaurants/$restaurant.getRestaurantId()/$cuisine.cuisineId/delete" method="post">
        <label for="name">Restaurant</label>
        <input id="name" name="name" type="text">
         <button type="submit" class="btn btn-success">Delete</button>
       </form>

    #end
  </ul>
<br>
<br>
